---
layout: default
title: ''
pageclass: frontpage
root: ./
---


<div class="container">
    <h2></h2>
    <img width="800px" height="auto" src="{{ site.baseurl }}/images/AACL_logo.png" alt="AACL Poster">
    <!--
    <div class="col-md-20">
        <div class="jumbotron visible-md visible-lg visible-sm" style="overflow: auto;">
            <div class="container">
                <div class="page-header" align="left">
                    <h1>AACL-IJCNLP 2022</h1>
                    <p>The 2nd Conference of the Asia-Pacific Chapter of the Association for Computational Linguistics and the 12th International Joint Conference on Natural Language Processing will be held online from November 20th through November 23rd, 2022.</p>
                    <p><a class="btn btn-primary btn-large" href="https://www.aacl2022.org/">Visit the conference website »</a></p>
                </div>
            </div>
        </div>
    </div>
    -->
</div>



<!-- 
<div class="container">
	<h2></h2>
	<img width="800px" height="auto" src="{{ site.baseurl }}/images/AACL_logo.png" alt="AACL Poster">
	<div class="col-md-20">
               <div class="jumbotron visible-md visible-lg visible-sm" style="overflow: auto;">
                <div class="container">
                        <div class="page-header" align="left">
                              <h1> AACL-IJCNLP 2020</h1>
                              <p> The 1st Conference of the Asia-Pacific Chapter of the Association for Computational Linguistics and the 9th International Joint Conference on Natural Language Processing will be held in Suzhou, China from Dec 4th through Dec 7th, 2020. </p>
                              <p> <a class="btn btn-primary btn-large" href="http://www.aacl2020.org">Visit the conference website »</a> </p>
                	    </div>
                </div>
               </div> 
    </div>
</div>
-->


<!--
	<div class="container">
        <div class="row">
            <div class="col-md-2">
                <img width="180px" height="auto" src="{{ site.baseurl }}/images/AACL_logo.png" alt="AACL Poster">
            </div>
            <div class="col-md-10">
               <div class="jumbotron visible-md visible-lg visible-sm" style="overflow: auto;" style="height: 100px;">
                <div class="container">
                        <div class="page-header" align="center">
                              <h2> The Asia-Pacific Chapter of the Association for <br /> Computational Linguistics</h2>
                	    </div>
                </div>
               </div> 
            </div>
        </div>
    </div>
-->
    
    

<div class="container">
<div class="row">
  <div class="col-md-9">
  <h1>News</h1>
  <!--Coming.-->

<div class="more">
    <ul class="navigate">
        {% assign lastyear = nil %}
        {% for post in site.posts limit:5 %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% if year != lastyear %}
            <li><a href="{{ site.baseurl }}/posts/index.html#year{{ year }}">{{ year }}</a></li>
            {% assign lastyear = year %}
        {% endif %}
        {% endfor %}
        <li><a href="{{ site.baseurl }}/posts/index.html">All</a></li>
    </ul>
  </div>
  {% for post in site.posts limit:5 %}
  <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <br /> <small class="date">{{ post.date | date_to_string }}</small></h2>
  {{ post.content }}
  {% endfor %}

  <!-- 
</div>
  <div class="col-md-3 visible-sm visible-lg">
  <a class="twitter-timeline" data-dnt=true href="https://twitter.com/aacl" data-widget-id="257327005056516096">Tweets by @aacl</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<p><a href="https://twitter.com/search/?q=%23naacl2015">Tweets about #naacl2015</a></p>
<p><a href="https://twitter.com/search/?q=%23acl14nlp">Tweets about #acl14nlp</a></p>
<p><a href="https://twitter.com/search/?q=%23naacl2013">Tweets about #naacl2013</a></p>

  </div>
 --><!--/span-->
</div>
</div>

